<mat-toolbar class="navbar" color="accent">
<div><img [src]="myImg" class="rounded" alt="" width="170px">
    <div class="text-center">ENGKAU JODOHKU.co</div>
</div>

<div class="slider">
    <marquee direction="left" >Kami Menawarkan Anda Pakej Perkahwinan, Pakej Honeymoon dan Kursus Pra Perkahwinan. Untuk Maklumat Lanjut Sila Pergi Ke Info</marquee>
</div>

<div class="gap-3 d-md-flex">
     <span><img [src]="home" routerLink="/"></span>
     <span><img [src]="cincin" routerLink="/tarikh" ></span>
</div>
</mat-toolbar>


<router-outlet></router-outlet>
