.text-center{
    font-size: 14px;
}

.slider{
    font-size: 18px;
    font-family:  "Times New Roman", Times, serif;
    color: rgb(0, 0, 0);
}

.navbar {
    justify-content: space-between;
}

.example-spacer {
    padding-right: 1rem;
  }
